#he {
	color:#FFFFFF;
	height:50vh;
	background:#009688;
}

body {
	font-family: 'Roboto';
}

#na {
}

#li>li {
padding: 0px 20px 0px 25px;
}

#sh{
margin: 15vh 0px 0px 0px;
}


#navt{
	
}

.glyphicon.glyphicon-home{
	font-size: 200px;
	color: #009688;
}


#h {
	font-size: 36px;
}

#bg {
	background-color: #56387c;
}


